.BigContainer1{
    width:100vw;
    height:100vh;
    background: #0078AA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container{
    width:250px;
    min-height: 30px;
    background-color: #3AB4F2;
    
}
.inputContainer{
    width: 90%;
    margin: auto;
    display: flex;
    gap:20px
}
.inputContainer input{
    width:70%;
    height:15px;
    outline: none;
    border: none;
    margin-top: 6px;
}
.inputContainer button{
    background: #B1E1FF;
    border: none;
    margin-top: px;
    border-radius: 2px;
}
.todosContainer{
    width:100%;
}
.todo{
    width:99%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAF6F6;
    color:black;
    margin: auto;
    margin-top: 5px;
}
.todo button{
    width: 30px;
    height: 80%;
    background: #1363DF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 10px;
}
