.Container{
    width:300px;
}
.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.inputContainer input{
    width: 70%;
    height: 25px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.inputContainer button{
    width: 40px;
    height: 30px;
    border-radius: 100%;
    border: 0.01px solid black;
}
.todosContainer{
    width:80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.todo{
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.todo button{
    border: none;
}