.fruitsContainer{
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.fruit{
    margin: auto;
    width:180px;
    height:250px;
    display: flex;
    flex-direction: column;
    place-items: center;
}
.fruit img{
    width: 90%;
    height: 80%;
    margin: auto;
}