.developersCartContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
}
.cart{
    width: 400px;
    height: 500px;
    background:linear-gradient(#2FA4FF,#00FFDD);
    border-radius: 10px;
    overflow: scroll;
    
}
.cart::-webkit-scrollbar{
    display: none;
}
.cart img{
    width: 150px;
    height: 150px;
    background-position: center;
    border-radius: 10px;
}

.developer-experience{
    width:100%;
    height:10%;
    overflow: hidden;
    transition: 1s;
}
.active{
    width:100%;
    height:150px;
}

li{
    list-style: none;
}
.readmoreButton{
    padding:4px;
}
