@import './button';
$buttonsColor:(1:red,2:yellow,3:green);

@mixin buttonForMySite {
    padding: 10px;
    color:black;
    border: 4px solid $ButtonBorder-Color;
}
@each $key,$color in $buttonsColor {
    .box-#{$key}{
        @include buttonForMySite();
        background-color: $color;
    }
}
